header {
    background-color: rgb(5, 153, 104);
    color: rgb(242, 245, 248);
    margin: 0%;
    padding: 10px;
    
}

nav {
   display: inline-block;
   position:absolute;
   right:2%;
   top:5%;
}



h1 {
   
     display:inline-block;
    
}

img{
    text-align: center;
    
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-size: 30px;
}
    


.container{
    border: 1px solid rgb(107, 152, 236);
    border-radius: 25px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 4px 10px rgb(29, 24, 24);
    padding: 20px;
    display: grid;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-columns: 570px;
     grid-auto-rows: 80px;
     justify-content:  center;
     gap: 20px;



}

.habilidades{
    border: 1px solid rgb(15, 15, 15);
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formacao{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.planos{
    border: 1px solid black;
    
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tempo{

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.eu {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


