body{
 border: 1px solid black;
 border-radius: 5px;
 padding: 1px;
 
}




header{
    background-color: rgb(5, 153, 104);
    color: rgb(242, 245, 248);
    margin: 0%;
    padding: 10px;
}



h1 {
    display:inline-block;
}

nav {
   display: inline-block;
   position:absolute;
   right:2%;
   top:5%;
}
figure {
    position: absolute;
    right: 20px;
    text-align: center;
}
 
.link{
    display: inline-block;
    position: absolute;
    top: 61%;
    padding:0px 0px 0px 150px ;

}

button {
    background-color: #1E90FF;
    border-radius: 6px;
    position: absolute;
    padding: 2px 15px 2px 15px;
    color: snow;
}

main{
    border: 1px solid black;
}